body, html {
    background: linear-gradient(75deg, rgba(87, 36, 94, 0.53), rgba(51, 112, 131, 0.82), rgba(87, 36, 94, 0.53));
    color: white;
    height: 100%;
    margin-top: 0;
    padding-top: 0;
}

a {
    color: #ffffff;
}

.header-container {
    background: rgb(34, 34, 34);
    width: 100%;
    margin: 0 auto;
    /* clear: both; */
    /* display: flex; */
}



#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 10px;
    border-bottom: 10px;
}

#logo-tagline {
    float: left;
    width: 350px;
    height: 100%;
    margin: 10px;
}

#title-and-track {
    display: flex;
    justify-content: space-between;
}

#left-panel, #center-panel, #right-panel {
    background-color: rgb(34, 34, 34);
    padding: 5px;
    height: 550px;
}

#left-panel {
    height: 550px;
    /* height: 100%; */
}

#sign-in-button {
    float: right;
}

#search-input {
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
}

.queued-track-container {
    height: 480px;
    overflow: auto;
    background: rgb(58, 58, 58);
}

#current-track-box {
    background: black;
    padding: 10px;
}

/* .results-and-lyrics {
    height: 410px;
} */

.name-container {
    margin: 0;
    width: 105px;
    min-height: 50px;
    height: 100%;
}

.current-song {
    width: 200px;
}

.name-container p {
    margin-bottom: 0;
}

.search-result:hover, .queued-song:hover {
    cursor: pointer;
    background-color: rgb(95, 95, 95);
}

.search-results-container {
    height: 410px;
    overflow: auto;
    background: rgb(34, 34, 34);
}

.search-results {
    height: 100%;
}

.search-result {
    display: flex;
}

.search-name {
    width: 410px;
    margin-bottom: 5px;
}

.music-lyrics-container {
    max-height: 470px;
    overflow: auto;
}

.queued-song {
    display: flex;
    min-height: 50px;
    justify-content: space-between;
}

.album-pic {
    width: 50px;
    height: 50px;
    margin: 5px;
}

/* .btn-group {
    right: -25px;
} */

.input-group {
    margin-top: 15px;
}

.btn {
    padding: 5px;
    height: 36px;
    margin-top: 5px;
    margin-right: 3px;
}

.add-button {
    height:35px;
}

.modal {
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    /* margin-top: 10px; */
}

.artist-name {
    font-size: .75em;
}

.thumbs-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#left-panel .container {
    margin: 0;
}

#clear-search {
    position: absolute;
    color: gray;
    right: 10px;
    font-size: 1.5em;
    visibility: hidden;
}

.clicked-upvote {
    animation: float 2s forwards;
}

.chat-header {
    display: flex;
    justify-content: space-between;
}

@keyframes float {
    0%, 100% {transform:translate(0, 0) }
    10% {opacity:0.9; transform:translate(-5%, -10%) }
    20% {opacity:0.8; transform:translate(10%, -20%) }
    30% {opacity:0.7; transform:translate(-5%, -30%) }
    40% {opacity:0.6; transform:translate(5%, -40%) }
    50% {opacity:0.5; transform:translate(-10%, -50%) }
    60% {opacity:0.4; transform:translate(5%, -60%) }
    70% {opacity:0.3; transform:translate(-5%, -70%) }
    80% {opacity:0.2; transform:translate(10%, -80%) }
    90% {opacity:0.1; transform:translate(-10%, -90%) }
}

#clear-search:hover {
    cursor: pointer;
    color: black;
}

#search-button {
    width: 85px;
    margin: 0;
    height: 38px;
}

#start-listening {
    padding-right: 5px;
    margin-left: 15px;
}

.main-container {
    padding-top: 120px;
}

.container-fluid {
    padding: 0;
}

.current-song-container {
    display: flex;
    min-height: 50px;
    justify-content: space-between;
}

.current-album {
    height: 75px;
    width: 75px;
}

[class*="col-"] {
    background-clip: padding-box;
    border: 5px solid transparent;
}

@media screen and (max-width: 980px) {
    body, html {
        background: black;
    }

    .queued-track-container {
        background: linear-gradient(75deg, rgba(87, 36, 94, 0.53), rgba(51, 112, 131, 0.82), rgba(87, 36, 94, 0.53));
    }
}

@media screen and (max-width: 768px) {

    #masthead {
        position: fixed;
        z-index: 99;
        width: 100%;
        margin: 0 0 10px;
        border-bottom: 10px;
        vertical-align: center;
    }

    .header-container {
        vertical-align: center;
    }
    
    #logo-tagline {
        text-align: center;
        margin: 0px;
        width: 100%;
    }

    #title-and-track {
        display: inline-block;
        width: 100%;
    }
    
    .main-container {
        padding-top: 260px;
    }

    #left-panel, #center-panel, #right-panel {
        height: 100%;
    }
}

@media screen and (max-width: 640px) {
    #masthead {
        position: relative;
    }

    .main-container {
        padding-top: 0;
    }

}