body, html {
    background-image: -webkit-linear-gradient(90deg, rgba(87, 36, 94, 0.5), rgba(51, 112, 131, 0.82), rgba(87, 36, 94, 0.5));
    background-attachment: fixed;
    color: white;
    height: 100%;
    margin-top: 0;
    padding-top: 0;
}

a {
    color: #ffffff;
}

#masthead {
    background: linear-gradient(90deg, rgb(34, 34, 34, 0.80), rgb(24, 24, 24, 0.80), rgb(34, 34, 34, 0.80));
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 10px;
    padding: 0 5px 0 5px;
}

.header-row {
    margin-top: -5px;
    margin-bottom: -5px;
}

#logo-tagline {
    float: left;
    /* width: 25%; */
    position: static;
    margin-top: 5px;
}

#logo-img {
    /* height: 100%; */
    width: 100%;
    padding: 10px 10px 10px 7px;
    align-self: center;
}

#slogan {
    font-size: 0.8rem;
    text-align: center;
}

#current-track-wrapper {
    width: 100%;
    float: left;

}

#play-track-container {
    display: flex;
    width: 100%;
    background: black;
}

#start-listening {
    float: left;
    color: white;
    background: black;
}

.material-icons.play-pause {
    font-size: 40px;
}

#current-track-box {
    background: black;
    padding: 15px;
    display: flex;
    align-items: center;
    width: 100%;
}

#header-menu-buttons {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#volume:hover {
    cursor: grab;
}

#volume:active {
    cursor: grabbing;
}

.fav-container {
    margin: auto !important;
}

.welcome-box {
    font-size: 1em;
    line-height: 1.2em;
    font-family: 'Mada', sans-serif;
    text-align: right;
}

#left-panel, #right-panel {
    padding: 5px;
    height: 40em;
    /* border-radius: 10px; */
    background: linear-gradient(90deg, rgb(34, 34, 34, 0.50), rgb(24, 24, 24, 0.50), rgb(34, 34, 34, 0.50));
}

#left-panel-title {
    text-align: center;
}

#sign-in-button {
    float: right;
}

#search-input {
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
}


#graph {
    /* width: 30vw; */
    text-align: center;
}

#volume {
    background-color: #37353A;
}

.queued-track-container {
    height: 36em;
    overflow: auto;
    padding-top: 5px;
    /* background: rgb(58, 58, 58); */
}

.name-container {
    margin: 0;
    width: 180px;
    min-height: 50px;
    height: 100%;
    text-align: center;
    padding-top: 2px;
}

.current-song {
    width: 100%;
}

.name-container p {
    margin-bottom: 0;
}

.search-result:hover, .queued-song:hover {
    cursor: pointer;
    /* background-color: rgb(95, 95, 95); */
    /* background: linear-gradient(90deg, rgba(87, 36, 94, 0.4), rgba(51, 112, 131, 0.4), rgba(87, 36, 94, 0.4)); */
    /* background: linear-gradient(90deg, rgb(34, 34, 34, 0.2), rgb(24, 24, 24, 0.2), rgb(34, 34, 34, 0.2)); */
    background: rgba(51, 112, 131, 0.6);
    transition: 0.5s;

}

a:hover {
    color: rgb(104, 199, 199);

}

.search-results-container {
    height: 31.5em;
    overflow: auto;
}

.search-result {
    display: flex;
}

.search-name {
    width: 410px;
    margin-bottom: 5px;
}

.chat-container {
    height: 36em;
    overflow: auto;
}

.music-lyrics-container {
    height: 36em;
    overflow: auto;
}

.canvas-container {
    height: 36em;
    overflow: auto;
}

.favs-container {
    height: 36em;
    overflow: auto;
}

.rankings-container {
    height: 36em;
    overflow: auto;
}

#myChart {
    margin: auto;
}

.rankings-container {
    height: 36em;
    overflow: auto;
    padding-top: 8px;
}

.about-app {
    height: 36em;
    overflow: auto;
}

.queued-song, .ranked-song {
    display: flex;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
}

.album-pic {
    width: 50px;
    height: 50px;
    margin: 5px;
}

/* .btn-group {
    right: -25px;
} */

.input-group {
    margin-top: 15px;
}

.btn {
    padding: 5px;
    /* height: 36px;
    margin-top: 5px; */
    margin-right: 3px;
}

.add-button {
    height:35px;
}

.modal {
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    /* margin-top: 10px; */
}

.artist-name {
    font-size: .75em;
}

.thumbs-container {
    display: flex;
    /* flex-direction: column;
    align-items: center; */
}

#left-panel .container {
    margin: 0;
}

#clear-search {
    position: absolute;
    color: gray;
    right: 10px;
    font-size: 1.5em;
    visibility: hidden;
}

.chat-header {
    display: flex;
    justify-content: space-between;
}

@keyframes float {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(10%, -20%) }
    30% { transform:translate(-5%, -30%) }
    40% { transform:translate(5%, -40%) }
    50% { transform:translate(-10%, -50%) }
    60% { transform:translate(5%, -60%) }
    70% { transform:translate(-5%, -70%) }
    80% { transform:translate(10%, -80%) }
    90% { transform:translate(-10%, -90%) }
}

#clear-search:hover {
    cursor: pointer;
    color: black;
}

#search-button {
    width: 85px;
    margin: 0;
    height: 38px;
}

#start-listening {
    padding-right: 5px;
    margin-left: 15px;
}

.main-container {
    padding-top: 140px;
}

.container-fluid {
    padding: 0;
}

.current-song-container {
    display: flex;
    display: inline block;
    min-height: 50px;
    /* justify-content: space-between; */
    align-items: center;
    font-size: 16px;
    width: 100%;
}

.current-album {
    height: 75px;
    width: 75px;
}

.upvote .material-icons:hover {
    color: lightgreen;
}

.downvote .material-icons:hover {
    color: rgb(252, 90, 90);
}

[class*="col-"] {
    background-clip: padding-box;
    border: 5px solid transparent;
}

/* Scrollbar: */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(34, 34, 34);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


/*MATERIALIZE CLASSES START: */


.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
  }
  
  .waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
            transform: scale(0);
    pointer-events: none;
  }
  
  .waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
  }
  
  .waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7);
  }
  
  .waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7);
  }
  
  .waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7);
  }
  
  .waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7);
  }
  
  .waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7);
  }
  
  .waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7);
  }
  
  .waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none;
  }
  
  .waves-effect img {
    position: relative;
    z-index: -1;
  }

  .waves-effect .waves-ripple {
    z-index: -1;
  }

.btn-flat {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
    color: #343434;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}

.btn-flat:focus, .btn-flat:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
}

.btn-flat:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn-flat.disabled, .btn-flat.btn-flat[disabled] {
    background-color: transparent !important;
    color: #b3b2b2 !important;
    cursor: default;
}

canvas {
    width: 70%;
}


/*MATERIALIZE CLASSES END.*/

/*Volume slider styling*/

input[type="range"] {
    -webkit-appearance: none;
   }
   
   input[type="range"]:focus {
    outline: none;
   }

   input[type="range"]::-webkit-slider-runnable-track {
    background: rgb(34, 34, 34);
    height: 5px;
   }
   
   input[type="range"]::-moz-range-track {
    background: rgb(34, 34, 34);
    height: 5px;
   }

   input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: white;
    margin-top: -5px;
    border-radius: 50%;
   }
   
   input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: white;
    margin-top: -5px;
    border-radius: 50%;
   }
/**/

@media screen and (max-width: 980px) {
    #masthead {
        flex: none;
    }

    .main-row {
        padding-top: 25px;
    }
    

}

@media screen and (max-width: 768px) {

    #masthead {
        position: relative;
    }

    #slogan {
        font-size: 1rem;
    }

    .header-container {
        vertical-align: center;
    }
    
    #logo-tagline {
        text-align: center;
        float: none;
        margin: 0px;
        width: 100%;
    }

    #current-track-wrapper {
        float: none;
    }

    #header-menu-buttons {
        clear: both;
    }
    
    .main-container {
        padding-top: 0;
    }

    #left-panel, #right-panel {
        height: 100%;
    }
}

@media screen and (max-width: 640px) {
    #masthead {
        position: relative;
    }

    .main-container {
        padding-top: 0;
    }

}